header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  h1 {
    flex-grow: 2;
    font-size: 8rem;
    margin: 0;
  }

  app-search {
    justify-self: flex-end;
  }
}

@media (max-width: 900px) {
  header {
    app-search {
      display: none;
    }
  }
}
