.footer {
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--text);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    img {
      width: 30px;
      height: auto;
      margin-right: 10px;
    }
  }
}
