:root {
  --background: #ffffff;
  --text-color: #444444;
  --primary-color: #e6e6e6;
  --secondary-color: #a0a0a0;
  --accent-color: #ff5e5e;

  --border-radius: 0.5rem;
  --transition-speed: 300ms;
}

[data-theme="dark"] {
  --background: #2b2b2b;
  --text-color: #ffffff;
  --primary-color: #444444;
  --secondary-color: #696969;
  --accent-color: #ff5e5e;
}
* {
  box-sizing: border-box;
  outline: none;
  border: none;
}

body {
  background-color: var(--background);
  color: var(--text-color);
  font-family: Montserrat, Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.6;
  transition: background-color var(--transition-speed),
    color var(--transition-speed);
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
  filter: brightness(50%);
  z-index: -1;
  animation: bottomLeftDiagonalMove 60s linear infinite;
}

@keyframes bottomLeftDiagonalMove {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -2060px 2060px;
  }
}

/* Hide the horizontal scrollbar that appears with some patterns */
body::-webkit-scrollbar {
  width: 0.5em;
  background-color: var(--background);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
}

header {
  background-color: var(--primary-color);
  height: 130px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.header-content {
  text-align: left;
  width: 100%;
}

header h1 {
  margin: 0;
  color: var(--text-color);
  font-size: 2rem;
}

.dynamic-message {
  color: var(--text-color);
  font-style: italic;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  width: 100%;
  height: 20px;
}

.theme-toggle {
  border: none;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  font-size: xx-large;
  transition: background-color var(--transition-speed);
}

.theme-toggle:hover {
  background-color: transparent;
}

.theme-toggle__icon {
  display: inline-block;
  text-align: center;
}

.theme-toggle__icon--sun {
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 50%;
  text-shadow: 0 0 15px #ffeb3b;
}

.theme-toggle__icon--moon {
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 50%;
  text-shadow: 0 0 10px #42a5f5;
}

[data-theme="dark"] .theme-toggle__icon--moon {
  display: inline-block;
}

[data-theme="dark"] .theme-toggle__icon--sun {
  display: none;
}

.theme-toggle__icon--moon {
  display: none;
}

button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  cursor: pointer;
  border-radius: var(--border-radius);
  font-size: 0.9rem;
  transition: background-color var(--transition-speed),
    color var(--transition-speed);
}

button:hover {
  background-color: var(--text-color);
  color: var(--background);
}

main {
  padding: 1rem;
  flex-grow: 1;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 400px;
  grid-gap: 20px;
}

.project-card {
  background-color: var(--background);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
  overflow: hidden;
  transition: box-shadow var(--transition-speed);
  min-width: 300px;
  margin: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.project-card:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.project-card__image-container {
  position: relative;
  height: 300px;
  overflow: hidden;

  background: linear-gradient(to right, #222 1px, transparent 1px),
    linear-gradient(to bottom, #222 1px, transparent 1px);
  background-size: 30px 30px;
  background-color: #111;

  box-shadow: #111 0 0 10px 10px;

  transition: height var(--transition-speed);
}

.project-card__content {
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Add this line */
}

.project-card__image {
  display: block;
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  object-position: center;
  transition: transform var(--transition-speed);
}

.project-card__image:hover {
  transform: scale(1.1);
}

.project-card__title {
  margin: 0;
  margin-top: 10px;
}

.project-card__description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  flex-grow: 1;
}

.project-card__bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between; /* Add this line */
}

.project-card__button {
  width: fit-content;
  height: fit-content;
  margin-right: 10px;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  background-color: var(--accent-color);
  color: var(--background);
  text-align: center;
  text-decoration: none;
  border-radius: var(--border-radius);
  transition: background-color var(--transition-speed),
    color var(--transition-speed);
}

.project-card__button:hover {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.project-card__tags {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 5px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 205px;
  height: 41.6px;
}

.project-card__tags::-webkit-scrollbar {
  display: none;
}

.project-card__tag {
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0.75rem;
  font-size: 0.75rem;
  background-color: var(--accent-color);
  color: var(--background);
  text-align: center;
  text-decoration: none;
  border-radius: var(--border-radius);
  transition: background-color var(--transition-speed),
    color var(--transition-speed);
}

footer {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 2rem;
  margin-top: 2rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-content p {
  font-size: 0.9rem;
  margin: 0;
}

.footer-content nav {
  margin-top: 0.5rem;
}

.footer-content ul {
  list-style: none;
  display: flex;
}

.footer-content li:not(:last-child) {
  margin-right: 1rem;
}

.footer-content a {
  color: var(--text-color);
  text-decoration: none;
  transition: color var(--transition-speed);
}

.footer-content a:hover {
  color: var(--accent-color);
}

@media screen and (max-width: 1420px) {
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 850px) {
  .projects-container {
    grid-template-columns: 1fr;
  }
}
