.html {
  background-color: #f06529;
}

.css {
  background-color: #2965f1;
}

.javascript {
  background-color: #f0db4f;
  color: #444444;
}

.react {
  background-color: #61dafb;
}

.nextjs {
  background-color: #000000;
  
}

.angular {
  background-color: #dd0031;
}



.python {
  background-color: #306998;
}

